/* Style the container for inputs */
.container {
  padding: 20px;
}

h3 {
	padding: 0px 60px;
}

/* The message box */
#message {
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

#message {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.orange {
  color: orange;	
}

.valid:before {
  position: relative;
  left: -35px;
}

.invalid {
  text-decoration: line-through;
}

.invalid:before {
  position: relative;
  left: -35px;
}

/* input fields */
.input-container {
  width: 90%;
  padding: 8px 16px;
  margin: 50px 50px;
  display: flex;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.input-container input[type=password] {
  width: 100%;
  font-size: 16px;
  border: 0;
  outline: none;
  color: #333;
}
.input-container input[type=text] {
  width: 100%;
  font-size: 16px;
  border: 0;
  outline: none;
  color: #333;
}

input[type=checkbox] {
  margin: 10px;
  padding: 12px;
  color: #aaa;
  cursor: default;
}